<mat-card class="example-card">
  <mat-card-header class="text-center">
    <mat-card-title>Confirm Child's Details</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ data.photoUrl }}" alt="{{ data.firstName }}" />

  <mat-card-content>
    <div class="inner-content">
      <div class="bio-info text-center">
        <h4>Bio info</h4>
        <p>{{ data.firstName }} {{ data.middleName }} {{ data.lastName }}</p>
        <br />
        <p>{{ data.gender }}</p>
        <br />
        <p>Age: {{ age }}</p>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="nok text-center">
        <h4>Next of kin</h4>
        <p>{{ data.nokFirstName }} {{ data.nokMiddleName }}</p>
        <br>
        <p>{{ data.nokNumber}}</p>
        <br />
        <p>Relationship: {{ data.relation }}</p>
      </div>

      <div *ngIf="data.isEnrolled" class="academic text-center">
        <mat-divider [vertical]="true"></mat-divider>
        <h4>Sch. Details</h4>
        <div *ngIf="data.primarySchool; else secondaryBlock">
          <p>School: {{ data.primarySchool }}</p>
          <p>Class: {{ data.class }}</p>
        </div>
        <ng-template #secondaryBlock>
          <p>School: {{ data.school }}</p>
          <p>Form: {{ data.form }}</p>
        </ng-template>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <span class="separator"></span>
    <button mat-stroked-button [mat-dialog-close]="data" (click)="confirm()">Save</button>
  </mat-card-actions>
  <!-- <div class="content">
    <div class="left">
      
    </div>
    
    <div class="right text-center">
      <h4>Bio info</h4>

      <div class="bio-info">
        <p>{{ data.firstName }} {{ data.middleName }} {{ data.lastName }}</p>
       
        <br />
        <p>Gender: {{ data.gender }}</p>
        <br />
        <p>Age: {{ age }}</p>
      </div>
      <mat-divider></mat-divider>
      
      <div class="nok">
        <h4>Next of kin</h4>
        <p>{{ data.nokFirstName }} {{ data.nokMiddleName }}</p>
       
        <br />
        <p>Relationship: {{ data.relation }}</p>
      </div>

     

      <div *ngIf="data.isEnrolled">
        <mat-divider></mat-divider>
        
        <div class="academic">
          <h4>Academic Details</h4>
          <div *ngIf="data.primarySchool; else secondaryBlock">
            <p>School: {{ data.primarySchool }}</p>
            <p>Class: {{ data.class }}</p>
          </div>
          <ng-template #secondaryBlock>
            <p>School: {{ data.school }}</p>
            <p>Form: {{ data.form }}</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div> -->
</mat-card>
