.example-container {
  width: 100%;
  height: 100%;
}

.profile-button {
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile-image {
}

mat-icon,mat-icon.matListIcon, button{
  outline:none !important;
}

.menu-icon {
  margin-right: 20px;
}

.side-menu {
  margin-top: 30%;
  
}

.menu-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-name {
  position: absolute;
  top: .5em;
  left: 3vw;
  color: black;
}

.menu-item {
  margin: 1vw 0;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: .5em;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 180px;
  align-items: flex-start;
  justify-content: center;
  transition: .2s;
}

.example-sidenav-content a {
  text-decoration: none;
  color: inherit;
}

.sidenav-open {
  width: 170px;
}

.sidenav-close {
  width: 50px;
}

.example-sidenav {
  /* padding: 20px; */
}

.main-content {
  max-width: 100%;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* .main-content ng-container {
    max-width: 100%;
  } */

.inner-content {
  margin-top: 1%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
}

.example-card {
  max-width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kid-photo {
  max-height: 50px;
  max-width: 50px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em auto;
  padding: 0;
}

.exit {
  position: relative;
  margin-top: 100%;
  bottom: 0;
}

