<mat-card class="example-card">
  <mat-card-content class="text-center">
    <mat-form-field class="example-form-field">
      <input
        matInput
        (keyup)="filterByName($event)"
        placeholder="Filter data"
        [(ngModel)]="value"
        type="text"
      />
     
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>

      <!-- Photo Column -->
      <ng-container matColumnDef="Pic">
        <mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.country }} </mat-cell>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="First name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >First name
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.firstName }} </mat-cell>
      </ng-container>

      <!-- Middle Name Column -->
      <ng-container matColumnDef="Middle name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Middle name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.middleName }}
        </mat-cell>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="Gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Gender
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.gender }}
        </mat-cell>
      </ng-container>

      <!-- Level Column -->
      <ng-container matColumnDef="Level">
        <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.level }} </mat-cell>
      </ng-container>

      <!-- Next of kin name Column -->
      <ng-container matColumnDef="Nok">
        <mat-header-cell *matHeaderCellDef> Next of kin </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.nokFirstName }}
        </mat-cell>
      </ng-container>

      <!-- Next of kin Number column -->
      <ng-container matColumnDef="Contact">
        <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.nokNumber }} </mat-cell>
      </ng-container>

      <!-- Actions column -->
      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon color="primary">edit</mat-icon></button
          ><mat-divider [vertical]="true"></mat-divider>
          <button mat-icon-button>
            <mat-icon color="accent" click="delete(element._id)"
              >delete</mat-icon
            >
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="getKidInfo(row)"
      ></mat-row>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          No records found.
        </td>
      </tr>
    </mat-table>
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
    <div *ngIf="isLoading" class="center">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>
