.example-form-field {
  width: 30%;
  margin: 0 auto;
}
mat-card-content {
    margin-top: 2em;
}
.inner-content {
  display: grid;
  grid-template-columns: auto auto;
}
.example-card {
  max-width: 100%;
  margin: .5em;
}

.preferences-icons {
  width: 3%;
  display: flex;
  position: absolute;
  right: 5em;
}

.preferences-icons button {
  width: .2em;
  outline: none;
}

.preferences-icons:nth-child(odd) {
  border-right: 1px solid black;
}

.divider {
  width: 3px;
  height: 1px;
  background-color: black;
  z-index: 10;
}

mat-icon {
  transform: scale(.8);
}

button {
  outline: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

.thumbnail {
  width: 100%;
  max-width: 50px;
  height: auto;
}

.divider {
  width: 1px;
  height: .7em;
  border-left: 1px solid rgba(199, 196, 196, 0.219);
  margin-top: .3em;
}
