<mat-card class="example-card">
  <mat-card-content class="text-center">
    <mat-form-field class="example-form-field">
      <input
        matInput
        (keyup)="filterByName($event.target.value)"
        placeholder="Filter by name"
        [(ngModel)]="value"
        type="text"
      />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="Position">
        <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ dataSource.indexOf(element) + 1 }}
        </mat-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Pic">
        <mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.country }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="first name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >First name
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.firstName }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Middle name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Middle name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.middleName }}
        </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Level">
        <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.level }} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Nok">
        <mat-header-cell *matHeaderCellDef> Next of kin </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.nokFirstName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Contact">
        <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.nokNumber }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon color="primary">edit</mat-icon></button
          ><mat-divider [vertical]="true"></mat-divider>
          <button mat-icon-button>
            <mat-icon color="accent" click="delete(element._id)"
              >delete</mat-icon
            >
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="getKidInfo(row)"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
    <div class="center">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>
