<div class="container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      
    </div>
  </mat-drawer-container>
</div>

<!-- <div class="content">
  <h3 class="text-center">Create Child Record</h3>
  <mat-card>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Full name</ng-template>
          <div class="form-inputs">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input
                matInput
                formControlName="firstCtrl"
                name="firstCtrl"
                required
              />
            </mat-form-field>
            <span class="example-spacer"></span>
            <mat-form-field>
              <mat-label>Middle Name</mat-label>
              <input
                matInput
                formControlName="secondCtrl"
                name="secondCtrl"
                required
              />
            </mat-form-field>
            <span class="example-spacer"></span>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input
                matInput
                formControlName="lastCtrl"
                name="lastCtrl"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Next of kin</ng-template>
          <div class="form-inputs">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input
                matInput
                formControlName="nokCtrlName"
                name="nokCtrlName"
                required
              />
            </mat-form-field>
            <span class="example-spacer"></span>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input
                matInput
                formControlName="nokCtrlLastName"
                name="nokCtrlLastName"
                required
              />
            </mat-form-field>
            <span class="example-spacer"></span>
            <mat-form-field>
              <mat-label>Phone</mat-label>
              <input
                matInput
                formControlName="nokCtrlNumber"
                type="number"
                name="nokCtrlNumber"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Date of birth</ng-template>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              formControlName="thirdCtrl"
              name="thirdCtrl"
              [matDatepicker]="picker"
              [matDatepickerFilter]="myFilter"
            />
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Upload picture</ng-template>
        <ngx-uploadcare-widget
          images-only="true"
          (on-upload-complete)="handleUpload($event)"
          public-key="bfdb08a1fed1afb78693"
          crop="free"
          image-shrink="800x600"
        >
        </ngx-uploadcare-widget>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>

        <div>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="uploadForm()" matStepperPrevious>
            Finish
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div> -->
